.sa-table-box-bids {
    display: grid;
    grid-template-columns: 64px 2fr 80px 80px 120px 1fr 1fr 100px 2fr 2fr;
}

.sa-filer-opened .sa-table-box-bids {
    grid-template-columns: 64px 2fr 80px 80px 120px 1fr 1fr 100px 2fr 2fr !important;
}
.sa-filer-opened .sa-table-box-bids > *:last-child {
    /*display: none;*/
}