/* Cброс стилей */
ol,
ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

:global(.ant-modal-wrap) {
	overflow: hidden !important;
	/* pointer-events: none !important; */
	z-index: 9999999;
}

.draggableWrapper :global(.ant-modal-content) {
	padding: 0;
	background-color: #fff;
	border: 1px solid #787878a2;
	border-radius: 15px;
	overflow: hidden;
}
/* Cброс стилей */

.chat-header {
	background-color: white;
	width: 100%;
}
.chat-header__input {
	width: 100%;
}
.chat-layout {
	max-height: 400px;
}
.chat-layout::-webkit-scrollbar,
.ant-layout-content::-webkit-scrollbar {
	display: none;
}
.chat-content {
	display: flex;
	flex-direction: column;
	background: #fff;
}

.chat-modal__title {
	cursor: grab;
	padding: 20px 10px 10px 20px;
	background: linear-gradient(to bottom, #4d84bbda, #366da5);
	color: #fff !important;
	font-weight: 400 !important;
}

.chat-modal__title:active {
	cursor: grabbing;
}

.chat-input__footer {
	border-top: 1px solid #e6e6e6;
	padding: 5px;
}
.chat-input__footer:nth-child(1) {
	background-color: #fafafa;
	padding: 10px;
}
.sidebar-layout {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 5px;
}

.sidebar-layout > *:not(:last-child) {
	border-bottom: 1px solid #e6e6e6;
}

.chat-list {
	overflow-y: scroll;
	height: 40vh;
}
.chat-list::-webkit-scrollbar {
	display: none;
}

.chat-list > * {
	margin: 12px 0;
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 12px;
}

.messages {
	flex: 1;
	overflow-y: auto;
	padding: 16px;
	background: #fff;
}
.messages::-webkit-scrollbar {
	display: none;
}

.message {
	display: flex;
	margin-bottom: 8px;
}
.chat-footer {
	display: flex;
	padding: 0 auto;
}
.chat-footer > * {
	margin: 0 auto;
}
.chat-footer:nth-child(3) {
	background-color: #fafafa;
}

/* Сообщения от меня */

.chat-input__footer {
	border-top: 1px solid #e6e6e6;
	background: #fff;
	padding: 5px;
	display: flex;
	gap: 8px;
}

.chat-input__footer > * {
	margin: 0 auto !important;
}

.chat-input__footer .ant-btn {
	width: 30px;
	max-height: 30px;
	border-radius: 50%;
}

:global(.ant-list-item) .senderName {
	display: block;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	margin-bottom: 4px;
}

/* Я отправил */
:global(.ant-list-item.my-message) :global(.bubble) {
	background: #dcf8c6; /* светло-зелёный фон */
	color: #000;
	border-radius: 12px 12px 0 12px;
}

:global(.ant-list-item) .bubble {
	max-width: 70%;
	padding: 8px 12px;
	border-radius: 25px 25px 25px 0;
	position: relative;
	margin-left: 7px;
}

:global(.ant-list-item) .myMessageBubble {
	border-radius: 25px 25px 0 25px;
	margin: 0 7px 0 auto;
}

/* Имя отправителя */
:global(.ant-list-item) .senderName {
	display: block;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	margin-bottom: 4px;
}

/* Я отправил */
:global(.ant-list-item) .bubble.my-message {
	background: #dcf8c6;
	color: #000;
	align-self: flex-end;
}

/* Мне отправили */
:global(.ant-list-item) .bubble.other-message {
	background: #fff;
	color: #000;
	border: 1px solid #e6e6e6;
	align-self: flex-start;
}

.chat-list {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

.chat-item {
	margin-bottom: 12px;
}

.last-message {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	font-size: 0.9em;
	color: #555;
}

/* Стили сообщения */
.message {
	display: flex;
	margin-bottom: 8px;
}

.myMessage {
	justify-content: flex-end;
}

.otherMessage {
	justify-content: flex-start;
}

/* Стили пузыря (самого блока с текстом) */

/* Мои сообщения */
.myMessageBubble {
	margin-left: auto;
	background: #dcf8c6;
	color: #000;
	align-self: flex-end;
	border: 1px solid #e6e6e6;
	-webkit-box-shadow: 9px 10px 15px -5px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 9px 10px 15px -5px rgba(34, 60, 80, 0.2);
	box-shadow: 9px 10px 15px -5px rgba(34, 60, 80, 0.2);
}

/* Сообщения собеседника */
.otherMessageBubble {
	background: #e1f8f2;
	color: #000;
	border: 1px solid #e6e6e6;
	align-self: flex-start;
	-webkit-box-shadow: -13px 10px 15px -5px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: -13px 10px 15px -5px rgba(34, 60, 80, 0.2);
	box-shadow: -13px 10px 15px -5px rgba(34, 60, 80, 0.2);
}

/* Имя отправителя */
.senderName {
	display: block;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	margin-bottom: 4px;
}

/* Время */
.time {
	font-size: 11px;
	color: #666666;
	text-align: right;
	margin-top: 2px;
}
