.chat-list {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

.chat-item {
	margin-bottom: 12px;
}

.last-message {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	font-size: 0.9em;
	color: #555;
}
