.chat-modal .ant-modal-header {
	padding: 10px 10px 15px;
}
.chat-modal .ant-modal-content {
	min-width: 400px;
	min-height: 300px;
	max-width: 90vw;
	max-height: 80vh;
	overflow: auto;
	padding: 0 0;
}

.ant-modal-title {
	cursor: grab;
}
.ant-modal-title:active {
	cursor: grabbing;
}

/* Сообщение о непрочитанных */
.unread-msg {
	margin-top: 16px;
	font-size: 14px;
	color: #444;
}
