.sa-table-box-orgs {
	display: grid;
	grid-template-columns: 64px 5fr 4fr 4fr 114px 200px 66px 66px 2fr 76px 76px 76px 76px;
}

.sa-filer-opened .sa-table-box-orgs {
	grid-template-columns: 64px 5fr 4fr 4fr 114px 170px 50px 50px 2fr 72px 72px 72px !important;
}
.sa-filer-opened .sa-table-box-orgs > *:last-child {
	display: none;
}

.sa-flex-2-columns {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.sa-col-with-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 4px;
	width: 100%;
}
.sa-col-with-menu > svg,
.sa-flex-2-columns svg {
	opacity: 0.6;
}
.ant-dropdown-open .sa-col-with-menu > svg,
.ant-dropdown-open .sa-flex-2-columns svg {
	opacity: 1;
}

.sa-header-label-org {
	display: block;
	width: 100%;
	margin: 0;
	height: 100%;
	text-align: left;
}

.sa-sai-orgs {
	max-height: calc(100vh - 100px);
	overflow: auto;
	scrollbar-width: thin;
	scrollbar-color: var(--sa-primary-color) #fff;
}

.sa-default-outlined-btn-color {
	border-color: black !important;
	color: black !important;
}
.sa-default-outlined-btn-color:hover {
	opacity: 0.6 !important;
}
.sa-default-solid-btn-color {
	border-color: black !important;
	color: white !important;
}

.sa-org-list-header {
	background-color: var(--sa-list-header);
	display: grid;
	grid-template-columns: 1fr;
	margin: 0 12px;
	align-items: end;
	margin: 0 12px;
	outline: 9px solid var(--app-background);
}
.sa-pagination-panel {
	background-color: var(--app-background);
}

.sa-table-orgs-middlename {
	  color: gray;
    border-top: 1px solid #80808031;
    font-size: smaller;
		padding-top: 4px;
		display: inline-grid;
		max-height: 140px;
		overflow: hidden;
}
.sa-table-orgs-middlename > div {
	    display: ruby-text;
}
