.blurred-spinner-container {
    position: relative;
    min-height: 200px;
}

.blurred-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ant-spin-blur {
    backdrop-filter: blur(5px) !important;
    background-color: rgba(255, 255, 255, 0.7) !important;
}
.ant-spin-spinning {
    max-height: 100vh !important;
}
.ant-spin-nested-loading {
    transition: 1s;
}

.sa-custom-steps .ant-steps-item-title {
    font-size: 12px !important;
}

.sa-custom-steps .ant-steps-item-description {
    font-size: 10px !important;
}

.sa-custom-steps .ant-steps-item-content {
    /*width: 120px !important;*/
    /*height: 20px !important;*/
    line-height: 10px !important;
}




.sa-bid-page {
    width: 100%;
    min-height: calc(100vh - 34px);
}

.sa-bid-page-container .sa-header-label {
    width: 500px;
    text-align: left;
}





.custom-small-steps-container {
    padding: 10px;
    border: 1px solid var(--row-main-bg-color-second);
    border-radius: 5px;
    background-color: var(--row-main-bg-color);
}
.custom-small-steps {
    width: 310px !important;
    max-width: 310px !important;
    min-width: 310px !important;
}

/* Супер компактные линии */
.custom-small-steps .ant-steps-item-process, .ant-steps-item-wait {
    width: 80px;
    max-width: 80px;
}
.custom-small-steps .ant-steps-dot .ant-steps-item-tail {
    margin: 0 4px 0 6px !important;
    top: 10px !important;
    padding: 0 1px !important;
}

.custom-small-steps .ant-steps-item {
    width: 80px !important;
    max-width: 80px !important;
}
.custom-small-steps .ant-steps-item-content {
    width: 80px !important;
}
.custom-small-steps .ant-steps-item-tail {
    margin-inline-start: calc(40px + 16px ) !important;
}
.custom-small-steps .ant-steps-item-icon {
    margin-inline-start: calc(40px - 4px ) !important;
}
.custom-small-steps  .ant-steps-item-tail::after {
   /* height: 1px !important;
    margin-left: -6px !important;
    margin-right: -6px !important;*/
    width: 50px !important;
    margin-left: 0 !important;
}

/* Минимальный текст */
.custom-small-steps .ant-steps-item-title {
    font-size: 10px !important;
    line-height: 1 !important;
    padding-right: 1px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.custom-small-steps .ant-steps-item-description {
    font-size: 8px !important;
    margin-top: 1px !important;
    line-height: 1 !important;
}