/* ANTD */
.blurred-spinner-container {
	position: relative;
	min-height: 200px;
}

.blurred-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	backdrop-filter: blur(5px);
	background-color: rgba(255, 255, 255, 0.7);
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ant-spin-blur {
	backdrop-filter: blur(5px) !important;
	background-color: rgba(255, 255, 255, 0.7) !important;
}
.ant-spin-spinning {
	max-height: 100vh !important;
}
.ant-spin-nested-loading {
	transition: 1s;
}



.sa-custom-steps .ant-steps-item-title {
	font-size: 12px !important;
}
.sa-custom-steps .ant-steps-item-description {
	font-size: 10px !important;
}
.sa-custom-steps .ant-steps-item-content {
	/*width: 120px !important;*/
	/*height: 20px !important;*/
	line-height: 10px !important;
	width: auto !important;
	padding-top: 10px !important;
	margin-top: 0 !important;
	height: 100% !important;
}
.sa-custom-steps .ant-steps-item-description {
	width: auto !important;
}
.sa-custom-steps .ant-steps-item-container {
	height: 100% !important;
	width: 100% !important;
}
.sa-custom-steps .ant-steps-item {
	 flex: 1 1 50px !important;
}
.sa-custom-steps .ant-steps-item-tail {
	margin-inline: 0 !important;
	margin: 0 !important;
	left: 50% !important;
	width: 100% !important;
}
.sa-custom-steps .ant-steps-item-icon {
	margin-inline: 0 !important;
	margin: 0 !important;
	left: calc(50% - 5px) !important;
	position: absolute !important;
}
.sa-custom-steps .ant-steps-item-icon {
	top: 0 !important;
}
.sa-custom-steps .ant-steps-item-process .ant-steps-icon-dot {
	background: var(--sa-antd-steps-color) !important;
}
.sa-custom-steps .ant-steps-item-finish .ant-steps-icon-dot {
	background: var(--sa-antd-steps-color) !important;
}
.sa-custom-steps .ant-steps-item-finish .ant-steps-item-tail::after {
	background: var(--sa-antd-steps-color) !important;
}

.custom-small-steps-container {
	/*height: 40px;*/
	padding: 10px;
	margin: 0 10px 10px 10px;
	border: 1px solid var(--sa-bid-page-divide);
	border-radius: 5px;
	background-color: var(--row-main-bg-color);
	/*overflow: hidden;*/
}
/*.custom-small-steps {
    width: 310px !important;
    max-width: 310px !important;
    min-width: 310px !important;
}*/

/* Супер компактные линии */
/*.custom-small-steps .ant-steps-item-process, .ant-steps-item-wait {
    width: 80px;
    max-width: 80px;
}
.custom-small-steps .ant-steps-dot .ant-steps-item-tail {
    margin: 0 4px 0 6px !important;
    top: 10px !important;
    padding: 0 1px !important;
}

.custom-small-steps .ant-steps-item {
    width: 80px !important;
    max-width: 80px !important;
}
.custom-small-steps .ant-steps-item-content {
    width: 80px !important;
}
.custom-small-steps .ant-steps-item-tail {
    margin-inline-start: calc(40px + 16px ) !important;
}
.custom-small-steps .ant-steps-item-icon {
    margin-inline-start: calc(40px - 4px ) !important;
}
.custom-small-steps  .ant-steps-item-tail::after {
    width: 50px !important;
    margin-left: 0 !important;
}*/

/* Минимальный текст */
/*.custom-small-steps .ant-steps-item-title {
    font-size: 10px !important;
    line-height: 1 !important;
    padding-right: 1px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.custom-small-steps .ant-steps-item-description {
    font-size: 8px !important;
    margin-top: 1px !important;
    line-height: 1 !important;
}*/

.sa-info-list .ant-collapse {
	border: 1px solid var(--sa-primary-color) !important;
}
.sa-info-list .ant-collapse-content {
	border-top: 1px solid var(--sa-primary-color) !important;
	border-bottom: 1px solid var(--sa-primary-color) !important;
}
.sa-info-list .ant-collapse-item:last-child .ant-collapse-content {
	border-top: 1px solid var(--sa-primary-color) !important;
	border-bottom: none !important;
}
.sa-info-list .ant-collapse-header {
	border-bottom: 1px solid var(--sa-primary-color) !important;
}
.sa-info-list .ant-collapse-item:last-child .ant-collapse-header {
	border-bottom: none !important;
}
.sa-info-list .ant-collapse-item-active .ant-collapse-header {
	border-bottom: none !important;
}
.sa-info-list .ant-collapse-item .ant-collapse-header {
	background: var(--sa-collapse-color);
	/*border-radius: 8px !important;*/
}
.sa-info-list .ant-collapse-item.ant-collapse-item-active .ant-collapse-header {
	background: var(--sa-collapse-color);
}
.sa-info-list .ant-collapse-item:last-child.ant-collapse-item-active .ant-collapse-header {
	border-radius: 0 !important;
}

.sa-info-list .ant-badge {
	display: block;
	width: 100%;
}
.ant-badge-count {
	z-index: 10 !important;
}

.sa-models-table .ant-select-selector {
    border: none !important;
}

.ant-alert-message {
	text-align: left !important;
}
.ant-alert-description {
	text-align: justify !important;
}

.sa-bid-page-container .ant-empty {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.sa-select-custom-manager,
.sa-select-custom-manager .ant-btn {
	color: #0958d9 !important;
	background-color: #e6f4ff !important;
	border-color: #91caff !important;
}
.sa-select-custom-admin,
.sa-select-custom-admin .ant-btn {
	color: #d4380d !important;
	background-color: #fff2e8 !important;
	border-color: #ffbb96 !important;
}
.sa-select-custom-bugh,
.sa-select-custom-bugh .ant-btn {
	color: #c41d7f !important;
	background-color: #fff0f6 !important;
	border-color: #ffadd2 !important;
}
.sa-select-custom-end,
.sa-select-custom-end .ant-btn {
	color: #d1861e !important;
	background-color: #fdf9e5 !important;
	border-color: #fce292 !important;
}
.sa-bid-page-container .ant-btn {
	transition: .3s;
}
.sa-bid-page-container .ant-btn:hover {
	filter: brightness(101%) !important;
}
.sa-bid-page-container .ant-btn:active {
	opacity: .5;
}
.sa-bid-page-container .ant-btn:disabled {
	cursor: not-allowed;
	border-color: #d9d9d9 !important;
	color: rgba(0, 0, 0, 0.25) !important;
	background: rgba(0, 0, 0, 0.04) !important;
	box-shadow: none !important;
}
.sa-bid-page-container .ant-input-disabled {
	color: rgba(0, 0, 0, 0.7) !important;
}
.sa-bid-page-container .ant-select-disabled .ant-select-selection-item {
	color: rgba(0, 0, 0, 0.7) !important;
}

.sa-bid-page-container .sa-bid-page-modal .ant-modal-body {
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
}


	/* NO ANTD */

.sa-bid-page {
	width: 100%;
	min-height: calc(100vh - 34px);
}

.sa-bid-page .sa-header-label.big {
	font-size: 42px;
}

.sa-bid-page-container .sa-header-label {
	width: 500px;
	text-align: left;
}

.sa-bid-steps-currency {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.sa-bid-page-info-container {
	padding: 10px 12px;
	display: grid;
	grid-gap: 5px 10px;
	grid-template-columns: 65px 1fr 1.5fr;
}
.sa-bid-page-info-wrapper,
.sa-bid-page-models-wrapper,
.sa-bid-page-btns-wrapper {
	height: calc(100vh - 30px - 145px);
	max-height: calc(100vh - 30px - 145px);
	background-color: var(--row-main-bg-color);
	position: relative;
	overflow: hidden;
}

.sa-bid-page-info-wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto 1fr;
}

.sa-bid-page-models-wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: auto auto 1fr 150px;
}

.sa-bid-page-btns-wrapper {
	display: flex;
	flex-direction: column;
	gap: 12px;
	align-items: flex-start;
	background-color: transparent;
}

.sa-bid-page-btn {
	width: 50px !important;
	height: 50px !important;
}

.sa-bid-page-btn-icon {
	width: 100% !important;
	height: 100% !important;
	font-size: 25px !important;
}

.sa-info-models-header {
	font-size: 16px;
	font-weight: 600;
	padding: 10px 0;
	position: sticky;
	top: 0;
}
.sa-models-table-cell {
	text-align: center;
	padding: 0 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	/*box-shadow: 4px 0 0 -3px #99bad3 ;*/
	box-shadow: 4px 0 0 -3px var(--sa-bid-page-divide);
}
.sa-models-table-cell-header {
	padding: 0 7px;
}
.sa-models-table-cell p {
	margin: 0;
	width: 100%;
}
.sa-models-table-cell:last-child {
}
.align-left {
	text-align: left;
}
.sa-models-table {
	overflow-y: scroll;
	scrollbar-width: thin;
	scrollbar-color: var(--sa-primary-color) #fff; /* ползунок дорожка */
}
.sa-models-table-row {
	width: 100%;
	display: grid;
	grid-template-columns:
		40px
		minmax(50px, 3fr)
		minmax(70px, 1fr)
		minmax(70px, 1fr)
		minmax(70px, 2fr)
		minmax(70px, 2fr)
		minmax(50px, 1.5fr)
		45px
		45px;
	grid-auto-rows: 40px;
	border-bottom: 1px solid var(--sa-bid-page-divide);
}
.sa-models-table-row-two {
	width: 100%;
	display: grid;
	grid-template-columns:
		40px
		minmax(50px, 1.5fr)
		minmax(70px, 0.5fr)
		minmax(70px, 0.5fr)
		minmax(70px, 1fr)
		minmax(70px, 1fr)
		minmax(70px, 1fr)
		minmax(70px, 0.5fr)
		45px;
	grid-auto-rows: 40px;
	border-bottom: 1px solid var(--sa-bid-page-divide);
}
.sa-models-table-row:last-child {
	border-bottom: none;
}
.sa-header-row {
	outline: 1px solid var(--sa-bid-page-divide);
	border-bottom: none;
	background-color: var(--sa-bid-page-table-header);
	overflow-y: scroll;
	scrollbar-width: thin; /* auto | thin | none */
	scrollbar-color: var(--sa-bid-page-table-header) var(--sa-bid-page-table-header); /* ползунок дорожка */
	z-index: 10;
}
.sa-bid-models-footer {
	padding: 10px;
	border-top: 1px solid var(--sa-bid-page-divide);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.sa-footer-btns,
.sa-footer-table-amounts {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}
.sa-footer-table {
	display: grid;
	grid-template-columns: repeat(4, minmax(50px, 170px));
	grid-auto-rows: 80px;
	grid-gap: 1px;
}
.sa-footer-table-col {
	outline: 1px solid var(--sa-bid-page-divide);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
}
.sa-footer-table-col:last-child {
	display: flex;
	align-items: center;
	justify-content: center;
}
.sa-footer-table-cell {
	width: 100%;
	/*height: 25px;*/
	border-top: 1px solid var(--sa-bid-page-divide);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 5px;
	font-size: 13px;
}
.sa-footer-table-cell p {
	margin: 0;
}
.sa-footer-table-cell span {
	color: var(--sa-bid-page-span);
	font-weight: bold;
}
.sa-footer-table-cell:first-child {
	border-top: none;
}

.sa-footer-amounts {
	display: grid;
	grid-template-columns: 150px 150px;
}
.sa-footer-amounts-col {
	display: grid;
	grid-template-columns: minmax(50px, 1fr);
	grid-template-rows: repeat(3, 1fr);
}
.sa-footer-amounts-cell {
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sa-footer-amounts-cell p {
	width: 100%;
	margin: 0;
	text-align: left;
}
.cell-amount {
	font-size: 20px;
	font-weight: 600;
	color: var(--sa-bid-page-span);
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 1800px) {
	.sa-models-table-cell {
		font-size: 14px;
	}
	.sa-footer-table-cell {
		font-size: 13px;
	}
}
@media screen and (max-width: 1630px) {
	.sa-footer-table-cell {
		font-size: 12px;
	}
}
@media screen and (max-width: 1250px) {
	.sa-models-table-cell {
		font-size: 12px;
	}
	.sa-footer-table-cell {
		font-size: 10px;
	}
}

.sa-info-list {
	margin: 0 0 10px 10px;
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-width: thin;
	scrollbar-color: var(--sa-primary-color) #fff; /* ползунок дорожка */
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.sa-info-list-row {
	display: grid;
	grid-template-columns: minmax(50px, 1fr) minmax(50px, 1.5fr);
	grid-template-rows: minmax(35px, 1fr);
	border-bottom: 1px solid var(--sa-bid-page-divide);
	padding-bottom: 2px;
	align-items: stretch;
}
.sa-info-list-row:last-child {
	border-bottom: none;
}
.sa-list-row-label {
	display: flex;
	align-items: center;
}
.sa-list-row-label p {
	margin: 0;
	width: 100%;
	text-align: left;
	padding-left: 5px;
}
.sa-info-list-hide-wrapper {
	display: flex;
	flex-direction: column;
	padding: 10px;
	gap: 5px;
}

.extra__table__container {
	width: 100%;
	text-align: left;
	/*padding: 5px;*/
}

.sa-duplication-header-block {
	padding: 10px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-size: 20px;
}

.sa-duplication-choose-block-wrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.sa-duplication-choose-block {
	padding: 10px;
	border: 1px solid var(--sa-bid-page-divide);
	border-radius: 10px;
	transition: .3s;
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}
.sa-duplication-choose-block:hover {
	border: 1px solid var(--sa-primary-color);
	background-color: var(--sa-bid-page-d);
}

.sa-duplication-icon {
	font-size: 30px;
	color: var(--sa-primary-color);
}

.dataParser__container {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
}
.dataParser__container__text {
	width: 50%;
}
.dataParser__container__table {
	padding: 5px;
	width: 50%;
}
.sa-bid-page-btns-wrapper .divider {
	width: 50px;
	margin: 5px 0;
	border: 1px solid var(--divider);
}

.sa-similar__tag {
	margin-left: -3px !important;
	margin-right: 10px !important;
}
.sa-similar__text__title {
	font-size: 16px;
	font-weight: 600;
	margin: 10px auto 0;
}
.sa-similar__card__subcont__item {
	width: 200px;
	font-size: 12px;
	margin-bottom: 10px;
}
.sa-similar__text__data {
	padding: 5px 0 0;
	font-size: 12px;
}
.sa-similar__card__models__cont {
	display: flex;
	width: 340px;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	align-content: flex-start;
	/*    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;*/
	padding: 10px;
	box-sizing: border-box;
}
.sa-similar__card__models__cont span {
	margin: 5px auto;
}
.sa-position__one {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
}
.sa-similar__tab__container {
	display: flex;
	flex-direction: column;
	margin: 40px 0 10px;
	width: 100%;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
}
