.sa-orgpage-header {
	background-color: var(--section-header-color);
	width: 100%;
}
.sa-orgpage-body {
	width: 100%;
}

.sa-orp-menu {
	display: flex;
	grid-gap: 3px;
	font-weight: 500;
}

.sa-orp-menu > * {
	text-decoration: none !important;
	color: var(--table-text-color);
}
.sa-orp-menu > *.active:not(.not-active) {
	color: var(--current-color) !important;
}
.sa-orp-menu-button {
	padding: 3px 6px;
	cursor: pointer;
	user-select: none;
	transition: all 0.2s;
}
.sa-orp-menu-button:hover {
	color: var(--menu-button-active-color);
}

.sa-orgpage-header-button {
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	width: 60px;
	border-right: 1px solid var(--modal-header-text-color-hover);
	color: var(--modal-header-text-color-hover);
	transition: all 0.3s;
}
.sa-orgpage-header-button:hover {
	color: var(--modal-header-text-color-active);
}
.sa-orgpage-header-button:active {
	background-color: var(--modal-header-text-color-hover);
	color: white;
}
.sa-orgpage-sub-header {
	background-color: #d9dee4;
	border-top: 1px solid rgba(0, 0, 0, 0.114);
}
.sa-orgpage-sub-header > div {
	font-weight: 600;
}
.sa-orgpage-sub-name {
	font-size: 18px;
	padding: 6px 12px;
}
.sa-orgpage-sub-control {
	grid-gap: 0px !important;
}
.sa-orgpage-sub-control > div {
	display: flex;
	align-items: center;
	justify-content: center;
	grid-gap: 8px;
	cursor: pointer;
	color: var(--modal-header-text-color-hover);
	transition: all 0.3s;
}

.sa-orgpage-header-title {
	padding: 4px;
	font-size: 16px;
	color: var(--modal-header-text-color-hover);
	font-weight: 600;
}

.sa-orgpage-blank-section-item {
	border-left: 6px solid #2196f3;
}

.sa-orgpage-updated-section-item {
	border-left: 6px solid #f36421;
}

.sa-orgpage-loader {
	display: none;
	margin-top: -6px;
	width: 100%;
	backdrop-filter: blur(6px);
	height: 6px;
}
.sa-orgpage-loader-chunk {
	/* background-color: #ff4d4f; */
	background-color: #ff4d5097;
	height: 100%;
	transition: all 0.1s;
}

.sa-org-temp-stack-collapse {
	border: 2px solid #2196f3;
	margin-bottom: 6px;
}
.sa-org-temp-stack-collapse-header {
	background-color: #2196f3;
	color: #ffffff !important;
	font-size: large;
	display: block;
	font-weight: 500;
	padding-bottom: 3px;
}

.sa-orgpage-body {
	min-height: calc(100vh - 46px);
	background-color: #e7ebef;
}
.sa-orgpage-body .sa-orgtab-container {
	padding-bottom: 30vh;
}
.sa-orgrow-deleted {
	/* background-color: rgba(255, 0, 0, 0.13); */
	color: red;
}
.sa-org-contactstack-box {
	background-color: #e3e8ea;
}
.sa-org-contactstack-box .ant-collapse-item:hover {
	background-color: #d6dbdd;
}
.sa-org-contactstack-box .ant-collapse-item {
	border-bottom: 1px solid white;
}

.sa-org-contactstack-box .ant-collapse-item .ant-collapse-header {
	padding: 2px 12px;
}
.sa-org-contactstack-addrow {
	padding: 2px 6px;
	border-radius: 3px;
	opacity: 0.8;
	display: flex;
	grid-gap: 9px;
}
.sa-org-contactstack-addrow:hover {
	opacity: 1;
}
.sa-org-contactstack-addrow > div {
	display: flex;
	grid-gap: 4px;
}
.sa-org-contactstack-addrow > div  button {
	opacity: 0.5;
}
.sa-org-contactstack-addrow:hover > div  button {
	opacity: 0.7;
}
.sa-org-contactstack-addrow > div  button:hover {
	opacity: 1;
}
.sa-org-contactstack-delrow {
	opacity: 0.6;
}
.sa-org-contactstack-delrow:hover {
	opacity: 1;
}

.ant-collapse-item .ant-collapse-item .sk-omt-stack-control {
	background-color: #ecf2fa;
	transition: all 0.1s;
	color: #006cc4;
	border-bottom: 1px solid #2195f357;
}
/* .ant-collapse-item .ant-collapse-item:hover .sk-omt-stack-control {
	background-color: #c9daea;
} */
.sa-org-sub-sub-section-row {
	/* border: 1px solid #006cc471; */
	border: 2px solid #ffffff;
}
.sa-org-sub-sub-section-row.deleted {
	  border: 2px solid rgba(255, 0, 0, 0.634);
		background-color: rgb(255, 233, 233);
		color: rgb(199, 0, 0);
		margin-bottom: 2px;
		border-radius: 3px;
	}
	.sa-org-sub-sub-section-row.deleted > div {
		opacity: 0.7;
}
.sa-org-sub-sub-section-row.deleted .sa-org-sub-sub-section-row-action {
	opacity: 1 !important;
}

.sa-org-sub-sub-section-row-action {
	opacity: 0.5;
}
.sa-org-sub-sub-section-row-action:hover {
	opacity: 1;
}
.sa-org-sub-sub-section-row:first-child {
	margin-top: 2px;
}
.sa-org-sub-sub-section-row:last-child {
	margin-bottom: 2px;
}