.sa-app-page {
    padding-top: 10px;
}
.sa-table-box-curators {
    display: grid;
    grid-template-columns: 100px 2fr 2fr 250px;
    height: 50px;
}

.sa-filer-opened .sa-table-box-curators {
    grid-template-columns:  100px 2fr 2fr 250px !important;
}
.sa-filer-opened .sa-table-box-curators > *:last-child {
    /*display: none;*/
}

.sa-list-header {
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 12px;
    align-items: end;
}

.sa-table-box-curators .sa-table-box-cell .sa-list-button {
    height: 40px !important;
}

.sa-header-label-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 10px;
}

.sa-header-label-container-small {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sa-header-label {
    display: block;
    width: 230px;
    margin: 0;
    height: 100%;
}

.sa-back {
    background: #b4cbe4;
}

.sa-pa-12-24 {
    padding: 12px 24px;
}

.sa-tag-custom {
    display: block;
    width: 150px;
    height: 32px;
    line-height: 28px;
    text-align: center;
    font-size: 14px;
}

.sa-select-custom-manager, .sa-select-custom-manager .ant-select-selector {
    color: #0958d9 !important;
    background-color: #e6f4ff !important;
    border-color: #91caff !important;
}
.sa-select-custom-admin, .sa-select-custom-admin .ant-select-selector {
    color: #d4380d !important;
    background-color: #fff2e8 !important;
    border-color: #ffbb96 !important;
}
.sa-select-custom-bugh, .sa-select-custom-bugh .ant-select-selector {
    color: #c41d7f !important;
    background-color: #fff0f6 !important;
    border-color: #ffadd2 !important;
}
