.bid-pdf-page {
    width: 100%;
    height: calc(100vh - 44px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    padding: 12px 0;
}

.sa-bid-pdf-header {
    width: 98%;
    display: flex;
    align-items: center;
    gap: 12px;
    background: #ffffff94;
    border-radius: 8px;
    padding: 10px 16px;
}

.sa-bid-pdf-title {
    margin: 0;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.sa-bid-pdf-title-tag {
    font-size: 20px;
    line-height: 30px;
}

.sa-bid-pdf-sider {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    gap: 10px;
    background-color: var(--sider-bg-color);
    border-radius: 6px;
    position: sticky;
    top: 0;
    width: 95%;
    height: 300px;
    margin-top: 12px;
    padding: 0 20px;
}

.full-height-tabs .ant-tabs-content {
    height: 100%;
}

.full-height-tabs .ant-tabs-tabpane {
    height: 100%;
}

.full-height-tabs .ant-tabs-tabpane > .ant-card {
    height: 100%;
}

.full-height-tabs .ant-card-body {
    height: calc(100% - 56px); /* 48px = header (title + padding), adjust if needed */
    display: flex;
    flex-direction: column;
}

/* Если внутри Card — Form, тоже растягиваем */
.full-height-tabs .ant-card-body .ant-form {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.ant-form-item-control {
    max-width: 100%;
    flex: 1 1 100%;
}

.ant-card-body {
    gap: 10px
}

.ant-card-body .ant-flex {
    margin-bottom: 10px;
}
.ant-card-body .ant-form-item {
    margin-bottom: 0;
}
