.sa-table-box-engineers {
    display: grid;
    grid-template-columns: 100px 150px 150px 1fr 150px 250px;
}

.sa-filer-opened .sa-table-box-engineers {
    grid-template-columns: 100px 150px 150px 1fr 150px 250px !important;
}
.sa-filer-opened .sa-table-box-engineers > *:nth-child(9) {
    display: none;
}

.sa-table-box-engineers {
    box-shadow: -4px 0 0 -1px;
}
.sa-table-box-engineers:hover {
    box-shadow: -10px 0 0 -1px;
}
.sa-table-box-header .sa-table-box-engineers {
    /*box-shadow: -4px 0 0 -1px #fdfdfd;*/
    box-shadow: none;
}